[2019-03-07 08:53] ReejeshPK opened #1 "Error when importing library : java.lang.RuntimeException: com.android.build.api.transform.TransformException"
After I added the project and synced, I got the following error:
[code]

[2019-03-07 13:47] rtchagas commented on #1
Hi @ReejeshPK

PING was built on Android Studio 3.3 with latest AndroidX packages.

Please take a look at this answer
https://stackoverflow.com/questions/51524303/program-type-already-present-com-google-android-material-internal-package-info

You probably will need to switch to AndroidX as well.

[2019-03-11 07:13] Katariaa opened #2 "Error after you turn off the location once and again turn on just before opening the pingplacepicker: java.lang.IllegalStateException: location must not be null"
Process: com.android.example, PID: 32297
    java.lang.IllegalStateException: location must not be null
        at com.rtchagas.pingplacepicker.ui.PlacePickerActivity$getDeviceLocation$2.onSuccess(PlacePickerActivity.kt:236)
        at com.rtchagas.pingplacepicker.ui.PlacePickerActivity$getDeviceLocation$2.onSuccess(PlacePickerActivity.kt:47)
        at com.google.android.gms.tasks.zzn.run(Unknown

[2019-03-12 14:42] #2 closed, assigned to rtchagas

[2019-03-12 14:47] rtchagas commented on #2
Thanks for the feedback!
I'm closing this issue with this commit.
https://github.com/rtchagas/pingplacepicker/commit/8bfaf0a9079ff234225c0256f5a81a208a5b30d6

A new release will be published.

[2019-03-12 14:50] rtchagas commented on #1
If you need further support please let me know.

[2019-03-12 14:50] #1 closed, assigned to rtchagas

[2019-03-13 03:59] ReejeshPK commented on #1
Yes, I did Migrate to androidx Rafael, but still I had some issues of
gradle, migrating to the Android X itself. I have not noted the logs. But
will get back to you after i get the logs.

On Tue, Mar 12, 2019 at 8:29 PM Rafael Chagas <notifications@github.com>
wrote:

[2019-03-17 10:13] OHassini opened #3 "Error: Static interface methods are only supported starting with Android N (--min-api 24)"
I can't change my API version to more than 20 this will radically decrease the number of users

[2019-03-19 23:21] rtchagas commented on #3
Hi @OussEmaDevCode

You just need to increase the **compileSdkVersion**.

The **minSdkVersion** don't need to be changed.

Please check the sample project https://github.com/rtchagas/pingplacepicker/blob/master/sample/build.gradle

There the minSdk is 19.

Thanks!

[2019-03-19 23:21] #3 closed, assigned to rtchagas

[2019-03-29 05:32] ritesh-dubey opened #4 "Wrong lat and long while picking the centered marker position"
When I use the latitude and longitude received from:
 `Place place = PingPlacePicker.Companion.getPlace(data);`

and use the same lat-long in google maps, the marker instead of pointing to the location what I selected in the library now points to some nearby location. Can you please help me out with this issue. Please refer the screenshots for your reference.
![Screenshot_20190329-104815](https://

[2019-04-03 12:36] rtchagas commented on #4
Hi @ritesh-dubey

I was digging into this issue for I while, but I believe that it is the expected behavior.

When you point the map to a location and select it, PING uses the Maps' Reverse Geolocation API.

That API requires a Lat/Lng position and returns the **best Place object that matches that position**.

What means that the API will return a **Place** that does exist in that position. Howeve

[2019-04-04 12:48] #4 closed, assigned to rtchagas

[2019-04-05 07:21] slabiak opened #5 "Does it requiere only Places API service?"
Hi! Does your library require "Places SDK for Android" to be enabled (like original googles place picker)? Or maybe it is enough to have just new "Places API" enabled to have it working? Please see this thread https://stackoverflow.com/questions/55520975/place-picker-google-maps-closes-immediately-although-i-have-followed-the-steps/55524719#55524719

[2019-04-18 04:47] Rahul-Openxcell opened #6 "java.lang.UnsupportedOperationException crash when open picker"
` java.lang.UnsupportedOperationException
        at com.google.android.libraries.places.internal.hv.set(PG:3)
        at java.util.List.sort(List.java:504)
        at java.util.Collections.sort(Collections.java:201)
        at kotlin.collections.CollectionsKt__MutableCollectionsJVMKt.sortWith(MutableCollectionsJVM.kt:38)
        at com.rtchagas.pingplacepicker.repository.googlemaps.GoogleMapsRepo

[2019-04-18 09:12] Rahul-Openxcell commented on #6
I have use this place libarry:
com.google.android.libraries.places:places:1.1.0

[2019-04-23 11:41] febinmathew opened #7 "Android resource compilation failed"
C:\<ProjectName>\app\build\intermediates\incremental\mergeDebugResources\merged.dir\values\values.xml:6077: error: duplicate value for resource 'attr/progress' with config ''.
C:\<ProjectName>\app\build\intermediates\incremental\mergeDebugResources\merged.dir\values\values.xml:6077: error: resource previously defined here.
C:\<ProjectName>\app\build\intermediates\incremental\mergeDebugResources\me

[2019-04-24 08:54] rtchagas commented on #6
@Rahul-Openxcell

Did you try to run the sample project? Is it crashing as well?

I'm asking that because I've tested the picker in many devices and Android versions and didn't get this crash.

Could you please also tell which Android version and target API are you building the app to?

[2019-04-24 08:55] rtchagas commented on #5
Hi @slabiak

Yes, this library requires "Places SDK for Android".

This is the new entry point for Places and we need to switch to it.

[2019-04-24 08:56] #5 closed, assigned to nobody

[2019-04-24 09:17] rtchagas commented on #7
@febinmathew

PING doesn't have any resource with those names (progress and rotation).
However, its dependencies may have.

So, I can't change those dependencies and you might try to check if your project's resources can be renamed.

Hope it helps.

[2019-04-24 09:45] Rahul-Openxcell commented on #6
@rtchagas
When I am use com.google.android.libraries.places:places:1.0.0 is working fine but update library is not working  com.google.android.libraries.places:places:1.1.0

[2019-04-24 09:53] Rahul-Openxcell commented on #6
@rtchagas
Please add this dependencies your sample project (update version 1.1.0)
com.google.android.libraries.places:places:**1.1.0**

[2019-04-25 21:47] #6 closed, assigned to rtchagas

[2019-04-26 05:03] Rahul-Openxcell opened #8 "ERROR: Failed to resolve: com.github.rtchagas:pingplacepicker:1.0.3"
@rtchagas
Thanks for update...
I have add this dependencies in build.gradle file :

[code]

and also add
[code]

[2019-04-26 07:29] rtchagas commented on #8
Hi @Rahul-Openxcell

Yes, I already mentioned that in the README.
https://github.com/rtchagas/pingplacepicker#download

Thanks for all your feedback.

[2019-04-26 07:29] #8 closed, assigned to rtchagas

[2019-04-26 07:31] #7 closed, assigned to rtchagas

[2019-04-26 08:17] Rahul-Openxcell commented on #8
Hi @rtchagas
I have add your mentioned that in the README.
but again error for download dependencies
` ERROR: Failed to resolve: com.github.rtchagas:pingplacepicker:1.0.3 `

[2019-04-26 08:35] rtchagas commented on #8
Please, just try to sync again.

I forced a refresh in Jitpack.
https://jitpack.io/#rtchagas/pingplacepicker/1.0.3

[2019-04-26 10:20] Rahul-Openxcell opened #9 "No location pick using marker on Map"
Hi @rtchagas

When i am pick location  using centre marker.
show toast "Could't find the selected place"

[2019-04-26 22:33] rtchagas commented on #9
I've tested the demo project and it is working fine.

Please check if you have a valid geolocation API key.

[2019-04-28 17:21] #9 closed, assigned to rtchagas

[2019-05-04 05:47] bowiechang commented on #1
androidx is a very huge headache to many, try closing your android studio and delete your .gradle cache files and reopen it, i fixed my slowly identifying where the problem is. Androidx is clashing with your third party libraries and if it does, try to put `implementation (example.github.exampleproject) { exclude group: "com.android.support"`. Might or might not work, good luck.

[2019-05-06 07:27] dendyaziz opened #10 "Manifest and API keys errors"
X:\Android\beebagi\app\src\main\AndroidManifest.xml:22:18-91 Error:
	Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91
	is also present at [androidx.core:core:1.1.0-alpha05] AndroidManifest.xml:22:18-86 value=(androidx.core.app.CoreComponentFactory).
	Suggestion: add 'tools:rep

[2019-05-06 07:58] rtchagas commented on #10
Hi @dendyaziz

Your project is not using **AndroidX** and, therefore, some dependencies are clashing.

Please migrate your project to AndroidX in order to use PING and many new Android libraries and components.

This change to AndroidX will become inevitable sooner or later.

[2019-05-06 13:26] dendyaziz commented on #10
Ok, I already migrated my project to androidx.
My next question, where I can get android api key?
I've got geolocation api key but can't found android api key on google console.

builder.setAndroidApiKey("YOUR_ANDROID_API_KEY")
                .setGeolocationApiKey("AIzaSy~~~~~~~~~~~~~~~~~M880A");

It shows "Couldn't load nearby places", but sometimes nearby places are loaded
![350822](https://use

[2019-05-06 13:34] rtchagas commented on #10
You can create and Android Key the same way you created a Geolocation Key.

But in the key properties, just set it as an Android Restricted Key.
https://developers.google.com/places/android-sdk/signup#restrict-key

[2019-05-06 14:01] dendyaziz commented on #10
Ok, it's working but it shows "couldn't find the selected place" when I select my current location using red pointer. all icons color and confirmation button turn into white too

![350822](https://user-images.githubusercontent.com/35209381/57230198-fc531800-7041-11e9-8f13-52278e7a9561.jpg)
![350826](https://user-images.githubusercontent.com/35209381/57230201-fc531800-7041-11e9-8740-63c9cf212bab.jp

[2019-05-08 09:48] vanyasem commented on #9
I'm having the same issue. My geolocation API key is valid

[2019-05-08 20:21] rtchagas commented on #10
Hi @dendyaziz

That means that your Geolocation Key is wrong.

Please make sure that your Geolocation is configured **exactly** like this:
![image](https://user-images.githubusercontent.com/1816489/57405384-9780f480-71de-11e9-9f5d-96c0fc98bac3.png)

Regarding the icon colours, PING uses the @color/colorPrimary to these icons.
https://github.com/rtchagas/pingplacepicker/blob/1bb5b78060a4275f8f6f9f3

[2019-05-08 20:22] rtchagas commented on #9
Please check my answer here:
https://github.com/rtchagas/pingplacepicker/issues/10#issuecomment-490636289

[2019-05-09 12:32] shivpujan12 opened #11 "Dependencies error, Manifest Merger failed after adding the dependency"
Manifest merger failed : uses-sdk:minSdkVersion 16 cannot be smaller than version 19 declared in library [com.github.rtchagas:pingplacepicker:1.0.4] C:\Users\dell\.gradle\caches\transforms-1\files-1.1\pingplacepicker-1.0.4.aar\bea39304e99fc86a33ad7d0ec21ee063\AndroidManifest.xml as the library might be using APIs not available in 16
	Suggestion: use a compatible library with a minSdk of at most 16

[2019-05-09 20:57] rtchagas commented on #11
Hi @shivpujan12

Unfortunately PING minimum SDK is 19 (KitKat) due to some new APIs being used.

If possible you should increase your project's **minSdk to 19** as well.

[2019-05-09 20:57] #11 closed, assigned to rtchagas

[2019-05-12 11:08] LinkIMSA commented on #10
The library not working
and some times "**works just one in the whole day"** ,i have tried to add tow key's with restriction on the geolocation and single key without restriction supports all api's Places and Geolocation
with no luck any idea to solve this issue

[2019-05-13 09:20] LinkIMSA opened #12 "The Library Works one time only"
The library works one time only
couldn't load nearby places error keeps showing ,i have tried to add tow key's with restriction on the geolocation and single key without restriction supports all api's Places and Geolocation
with no luck any idea to solve this issue

[2019-05-13 13:37] vanyasem commented on #10
I have a 100% correct API key configured EXACTLY like this, and it even gets requests - as the counter in the API panel increases, but the library keeps throwing an error

[2019-05-13 14:10] rtchagas commented on #10
@vanyasem

What error is it throwing?
I have the demo and a different application using the library and everything is fine.

If you are getting errors while opening the picker **before showing the list of places**, you have a problem with your **Android key**.

If your get an error message while clicking on the "choose this place" button you have a problem with you **GeoLocation key**.

Just to be

[2019-05-13 14:13] vanyasem commented on #10
@rtchagas my keys are different, and I have configured the Geolocation key exactly the same way as shown on your screenshot. I can see requests being made in the console, but the picker throws a "Couldn't find selected place..." error

[2019-05-13 14:15] rtchagas commented on #10
@vanyasem
So, the error happens when you click on the "Select this location" button?

[2019-05-13 14:16] vanyasem commented on #10
@rtchagas Yep

[2019-05-13 14:19] rtchagas commented on #10
Could you please send some logs when the "Couldn't find selected place..." is shown?

[2019-05-13 14:20] rtchagas commented on #12
@LinkIMSA

Please follow my comments here https://github.com/rtchagas/pingplacepicker/issues/10

[2019-05-13 14:29] vanyasem commented on #10
@rtchagas I'm not sure where to get them, logcat doesn't log anything suspicious

[2019-05-13 14:32] vanyasem commented on #10
hm @rtchagas
[code]

[2019-05-13 14:32] vanyasem commented on #10
logcat throws a selinux exception every time i press se;ect this location

[2019-05-13 14:49] rtchagas commented on #10
Probably not that...

Let's go for trials and errors...

- Is your Geolocation API (not the key) enabled in your Google APIs console?
- Remove any restriction in your Geolocation key and try again.

[2019-05-13 14:54] vanyasem commented on #10
@rtchagas yep, it's enabled and it even gets requests as I'm mentioning for the third time. I tried removing restrictions, that made no difference

[2019-05-13 15:01] rtchagas commented on #10
Please try to open this URL:
`https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=[YOUR GEO KEY]`

I just need to be sure that the issue is library related and not a configuration or Google Maps issue.

[2019-05-18 19:21] ardevd opened #13 "Google Maps Android API: Authorization failure - no maps"
Trying to get this to work.

I've supplied an android key and a geolocation api key and it seems to work fine except for the fact that the actual map doesnt show. logcat shows the following:

[code]

What am I missing?

[2019-05-19 19:42] ardevd commented on #13
Fixed it after enabling Google Maps SDK and adding fingerprint to Android key.

[2019-05-19 19:42] #13 closed, assigned to nobody

[2019-05-20 04:12] ilaxopavan opened #14 "Couldn't find selected places"
when i click on select this location it always saying couldn't find the selected places

[2019-05-20 08:13] t104360088 opened #15 "Wish List"
Hi, @rtchagas
I am university student in taiwan
I have a app about hail a taxi for user, but place picker deprecated by Google
This library is useful for me, and  I have a bold request

May you add the function about the following
1. Set country or set latitude and longitude to narrow the range in no positioning
2. Set multilingual to change text

Thanks for your reading

[2019-05-21 13:50] vanyasem commented on #10
The URL returns a JSON with New-York (written in Russian)

[2019-05-21 13:50] vanyasem commented on #10
So it's not an issue with my key for sure ;)

[2019-05-24 10:38] Gnzlt opened #16 "Crash when adding dependency"
Just after adding `pingplacepicker` dependency, I get the following crash when launching the app.
I use [Firebase In-App Messaging](https://firebase.google.com/products/in-app-messaging) but I don't know how it can affect the use of this library. 😕

[code]

[2019-05-25 22:19] #12 closed, assigned to nobody

[2019-05-25 22:24] rtchagas commented on #16
@Gnzlt

This is probably a problem with you Proguard configuration that stripped out some OkHttp classes.

That's why I recommend to switch to R8 in the Setup guide.

But, to fix your issue, try to add this to your proguard.config file:

-dontwarn okhttp3.**
-dontwarn okio.**
-dontwarn javax.annotation.**
-dontwarn org.conscrypt.**
-keepnames class okhttp3.internal.publicsuffix.PublicSuffixDatabas

[2019-05-25 22:25] rtchagas commented on #14
@ilaxopavan

Please check if you have a valid Geolocation key.

Check the issue #10 and let me know if it is fixed.

[2019-05-25 22:30] rtchagas commented on #15
Hi @t104360088

Regarding the request "2. Set multilingual to change text", you can easily translate the PING resources in you app.
When building the app your resources will overwrite PING resources.

Just copy all resources from https://github.com/rtchagas/pingplacepicker/blob/master/library/src/main/res/values/strings.xml to your app's resources and translate them.

You can also contribute to PI

[2019-05-25 22:39] rtchagas commented on #16
Actually, looks like Firebase In-App Messaging also uses Picasso and it is messing up with the dependencies.

Try to add:
-keep class com.squareup.picasso.** { *; }

[2019-05-28 08:04] t104360088 commented on #15
Thanks for your reply, @rtchagas
If I do not have position, I will get this view
But I want to order the specific location to narrow down
Could I get the view by set latitude and longitude or country?

![61139481_2227698287491642_6069980531003490304_n](https://user-images.githubusercontent.com/32124047/58460645-a7964f00-8160-11e9-85eb-2675bb56aad3.jpg)

[2019-05-29 10:05] DennyWeinberg opened #18 "100% free version"
Isn't is possible to have a 100% free version when I only use a gps location picker without any places/search features?

[2019-06-03 11:44] bhavesh-hirpara opened #19 "Tablet : searchbar is hidden in samsung S3 tab"
![image](https://user-images.githubusercontent.com/1277011/58799440-fc373f80-8622-11e9-922d-5a2540d265db.png)

Can anyone know the solution?

[2019-06-04 21:57] jmami opened #20 "Add support for map pointing"
Hello rtchagas,

First all thank you for this amazing library. It is exactly what I am looking for.
I would like to add support for map pointing.
My idea is to add a button on top of the gps one, so when is pushed the places requested are those closer to the center of the map (or the ping). This is for a personal app to keep track of my expenses and I usually do this when I am at home, not at supe

[2019-06-10 11:52] #16 closed, assigned to rtchagas

[2019-06-10 11:53] rtchagas commented on #16
If you still get this error, please reopen the issue.

[2019-06-10 11:53] #14 closed, assigned to rtchagas

[2019-06-10 11:55] rtchagas commented on #18
I can work on this. Should be easy as we just need to restrict the place search by some flag.
I'll keep you updated on the progress.

[2019-06-10 12:03] rtchagas commented on #19
Hi @bhavesh-hirpara

This is the expected behavior on large screens.
https://github.com/rtchagas/pingplacepicker/blob/e9338f5c0a3d4c6247d880ff51c8d5c1c32f2035/library/src/main/res/values-w600dp/config.xml#L3

You can override it by setting that flag to true.

However you can always access the search function by scrolling up the places list.

[2019-06-13 15:16] adicatur commented on #11
Hi @rtchagas can I know which APIs that need minimum SDK 19?

[2019-06-19 12:43] rishab247 opened #21 "min sdk 24 required"
Buils log

registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)

Parsing json file: C:\Users\Rishab aggarwal\Desktop\Findme\app\google-services.json

AGPBI: {"kind":"error","text":"Default interface methods are only supported starting with Android N (--min-api 24): void androidx.lifecycle.DefaultLifecycleObserver.onCreate(androidx.lifecycle.LifecycleOwner)","sou

[2019-06-24 19:08] percula commented on #10
I had the same issue. Turns out I got an API key from the wrong google url:

Use this one: https://console.developers.google.com/apis
NOT this one: https://console.cloud.google.com/apis

No idea why they aren't the same...but hopefully this helps others that are banging their heads like I was.

[2019-06-25 19:05] #19 closed, assigned to rtchagas

[2019-06-25 20:54] Moh09 commented on #10
What should I do if I have this as a result of the link?
   "error_message" : "This API project is not authorized to use this API.",
   "results" : [],
   "status" : "REQUEST_DENIED"

[2019-06-25 22:18] rtchagas commented on #21
Hi @rishab247

PING doesn't require minSdk 24.

Please take a look at the sample build.gradle.
https://github.com/rtchagas/pingplacepicker/blob/master/sample/build.gradle

To avoid these errors please make sure that you have:

`compileSdkVersion 28`

    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }

Your minSdk must

[2019-06-25 22:18] #21 closed, assigned to rtchagas

[2019-06-25 22:22] rtchagas commented on #15
Hi @t104360088

I was implementing your request to "narrow the range in no positioning" but I found an issue with Google Places API that made it impossible.

Places API needs the Location to be turned on in order to retrieve search results.

I tried to manually set the initial location when there is no GPS but the Places API returned me an error and no results could be displayed.

Unfortunately to

[2019-06-25 22:22] #15 closed, assigned to rtchagas

[2019-06-25 22:30] rtchagas commented on #10
@Moh09

You must enable Geocoding APIs in your project through this url:
https://console.cloud.google.com/google/maps-apis/api-list

[2019-06-26 11:00] Moh09 commented on #10
![Screenshot_2019-06-26-12-38-33](https://user-images.githubusercontent.com/46267191/60173937-31911080-9810-11e9-9222-190300b7a34c.png)
Thanks I have done it, it works now.
I still have the same display problem. (Maps, Geoloc, Places API are enabled. Maps works fine, Places and Geocoding have a rate of 100% error and Geoloc is never searched according to the dashboard of my console GCP). I have tr

[2019-06-27 15:56] vanyasem commented on #10
In the meantime you can take a look at [Yandex Place Picker](https://github.com/vanyasem/YandexPlacePicker), which does basically the same for free utilising Yandex MapKit

[2019-06-27 16:02] rtchagas commented on #10
Hi @Moh09

Please double check your Android Key. It must be secured for Android Apps only and you must add the SHA1s from your app to it (including debug).

Regarding the Geolocation key, make sure that it is exactly this:
https://github.com/rtchagas/pingplacepicker/issues/10#issuecomment-490636289

Also test this link with your key:
https://maps.googleapis.com/maps/api/geocode/json?latlng=40.7142

[2019-06-27 16:08] rtchagas commented on #10
@vanyasem
Some credits for being based on PING would be nice :)

[2019-06-28 11:21] vanyasem commented on #10
@rtchagas sure. PING is already linked in the description, but I will make it more clear that this library is partially based on PING (it only uses some of the UI components).

[2019-07-04 17:29] ArdentZeal opened #22 "support for setLatLngBounds"
Hey there,

Th old google place picker had the ablity to set an initial location different than the current location via builder.setLatLngBounds(latLngBounds)

I need to be able to edit already picked locations so this would be really helpful. Is there support planned for that?

[2019-07-06 00:21] NovakHonza commented on #10
Hi @rtchagas,
thank you for your great work.

I have similar problems as @dendyaziz with white icon color and white text color in buttons in place confirmation fragment.

I understand that it is a problem with conflicting @color/colorPrimary in my app. I have "temporarily" solved these problems in this way:

- Button's text color with copy of `PingThemeBase` definition in my `styles.xml` and overw

[2019-07-06 08:39] Ivrean opened #23 "Button to update the places that are nearby"
Can you add a button to force the update of places? Also add a flag when calling, show this button or not.

[2019-07-08 15:26] lemberh opened #24 "Improvement: Update koin version"
I'm using latest stable version of koin in my project:
[code]
In pingplacepicker this version is used:
`implementation 'org.koin:koin-android:2.0.0-rc-2'`
When I'm starting PlacePicker it crashes. Stacktrace point to Koin dependencies in library.
[code]
Due to gradle default dependency resolving strategy it pick higher version of the library, so when I decreased dependency in my project to `2.0.0-

[2019-07-08 16:58] AnassHmida opened #25 "Can't get nearby places or selected places."
Hello ,
I used your library as a replacement for the placepicker and i can't seem to make it work,
i have added and restricted the api Keys ( for geo and for place sdk ) , and i can't seem to be able to load nearby places for some reason .. can you help me ?

[2019-07-09 11:33] kkostrubiec commented on #23
this would be nice improvement :)

[2019-07-09 15:59] kkostrubiec commented on #23
@Ivrean I've done this (but without flag) here https://github.com/rtchagas/pingplacepicker/pull/26

[2019-07-10 07:20] rtchagas commented on #24
Hi @lemberh

Thanks for pointing this out! I'll update it for the next release.

Thank you!

[2019-07-10 07:27] rtchagas commented on #22
Hi @ArdentZeal

This is exactly the key difference between PING and Google's:
https://github.com/rtchagas/pingplacepicker#a-key-difference

In order to set a predefined location we must use /nearbysearch queries that cost more money. This can be done but I don't know whether it is worthy.

I should think more about this... Maybe we could just fetch the initial list of places based on a custom loca

[2019-07-10 07:28] rtchagas commented on #20
This is the same as request as #22 . I'll keep tracking everything in that issue.

[2019-07-10 07:28] #20 closed, assigned to rtchagas

[2019-07-10 07:32] ArdentZeal commented on #22
I would be fine paying the nearbysearch for the initial location.

Cheers,
Matthias
Sent from my iPhone

[2019-07-10 14:59] lemberh commented on #24
No, thank you for this widget, it saved me a lot of time. :)
One more remark, you are using in library this dependency `implementation 'com.squareup.okhttp3:logging-interceptor:3.14.1'` which depend on **okhhp-3.14** and this version minimum supported android is 21+ as you can see in changelog https://github.com/square/okhttp/blob/master/CHANGELOG.md#version-3130
I suggest to stick to version `3.1

[2019-07-11 21:00] rtchagas commented on #23
Hi @kkostrubiec , thanks for the pull request.

I reviewed and the way it was implemented, it does not refresh the places properly.
The GeoCoding API that you used may retrieve places as addresses (street, number, city, etc). It doesn't always return POIs (shops, restaurants, stations, etc) as we want.

In order to get/refresh places based on a location we must use the /nearbysearch in Maps API.
I

[2019-07-11 21:10] rtchagas commented on #25
Hi @AnassHmida

Did you restrict the Android API to your apps SHA1 ?

In order to test, just set the Android key as unrestricted and check the behavior.

[2019-07-12 01:08] rtchagas commented on #24
https://github.com/rtchagas/pingplacepicker/commit/c617506b434a3ef380c4fc1e90f9abdd7a7bc9cf

I'm validating the new version, and all those changes will be published soon.

[2019-07-12 01:10] rtchagas commented on #22
This commit https://github.com/rtchagas/pingplacepicker/commit/64ac79d58bb41f4fe48407c92febd62d66eefa9f enables /nearbysearch queries.

I'm validating the new solution and hope to publish the library soon.

[2019-07-12 07:12] DuMintong opened #27 "Cann't inflating class androidx.coordinatorlayout.widget.CoordinatorLayout"
Add the library to my project and run to crash.
It seems that error is "class androidx.coordinatorlayout.widget.CoordinatorLayout".

  java.lang.RuntimeException: Unable to start activity ComponentInfo{cn.oneplus.opmms/com.rtchagas.pingplacepicker.ui.PlacePickerActivity}: android.view.InflateException: Binary XML file line #2 in cn.oneplus.opmms:layout/activity_place_picker: Binary XML file line #

[2019-07-12 07:49] rtchagas commented on #27
Hi @DuMintong

Have you enabled AndroidX in your project?

If so, please check if you've added this dependency:
https://github.com/rtchagas/pingplacepicker/blob/f24e5fd5ed981d02ea67c3a08c8cdacd3f8a5e4e/sample/build.gradle#L44

[2019-07-12 08:04] DuMintong commented on #27
Hi rectagas,

I has enabled AndroidX in my project, and i can used CoordinatorLayout normally in my code.
Like: import androidx.coordinatorlayout.widget.CoordinatorLayout;
This is dependencies part of my build.gradle file:
dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])
    testImplementation 'junit:junit:4.12'
/*    implementation ('com.android.support:appcompat-v7:28.

[2019-07-12 08:09] DuMintong commented on #27
I have found the reason, because i add below code section in project build.gradle file. And delete then OK.

   /* subprojects {
        project.configurations.all {
            resolutionStrategy.eachDependency { details ->
                if (details.requested.group == 'com.android.support'
                        && !details.requested.name.contains('multidex') ) {
                    details.us

[2019-07-12 08:19] DuMintong commented on #27
resloved

[2019-07-12 08:19] #27 closed, assigned to rtchagas

[2019-07-12 11:35] rtchagas commented on #22
https://github.com/rtchagas/pingplacepicker/releases/tag/1.1.0

[2019-07-12 11:35] #22 closed, assigned to rtchagas

[2019-07-12 11:36] rtchagas commented on #24
https://github.com/rtchagas/pingplacepicker/releases/tag/1.1.0

[2019-07-12 11:36] #24 closed, assigned to rtchagas

[2019-07-12 11:37] rtchagas commented on #18
There are other libraries that don't rely on Google Places.

[2019-07-12 11:37] #18 closed, assigned to rtchagas

[2019-07-12 14:26] DuMintong opened #28 "The textview color of location select comfirm dialog of PlaceConfirmDialogFragment is unvisible."
![device-2019-07-12-221911](https://user-images.githubusercontent.com/20570319/61134920-3550b280-a4f3-11e9-9718-4a27768a88d1.png)

Hi rtchagas,
    I add the library to my project, and the alertDialog  occur when pick a place. But the positivebutton and nativebutton text is unvisible, and they exist actually.  My project(including application or activity) don't use any theme oy style.  How can thi

[2019-07-12 16:33] rtchagas commented on #28
Hi @DuMintong

Looks like you have some conflicts with you App Theme and styles.

I would suggest you to switch your app theme to Material Theme. But this can be difficult if your project is already in late development stage.

Instead, try to create a custom Dialog Theme for your app.

[code]

[2019-07-15 12:45] #28 closed, assigned to nobody

[2019-07-15 15:35] DuMintong opened #29 "The nearby searches function is unavailable and how to add signature to the request URL"
Hi  rtchagas,
    Question 1: According to the chapter of "Enabling nearby searches" in your guideline, I add the property to my project, and it's not work. Whether is this featrue unavailable until now.  Next version will work?  When do you release next version that contains the function.
**********************************************************
To do that, enable this flag in your project:
 <bo

[2019-07-16 03:40] DuMintong commented on #29
Hi rtchagas,
I double check and find nearby search has add on version 1.1.0.   So ignore  question 1.
<bool ### name="enable_nearby_search">

[2019-07-16 10:44] chhatrasal09 opened #30 "Current location button and dialog buttons are not visible"
![photo_2019-07-16 16 13 55](https://user-images.githubusercontent.com/21989289/61288438-befacb80-a7e4-11e9-90d6-972784963d10.jpeg)
![photo_2019-07-16 16 13 59](https://user-images.githubusercontent.com/21989289/61288448-c5894300-a7e4-11e9-9221-9cb8d9c9fe43.jpeg)

[2019-07-17 19:43] #23 closed, assigned to rtchagas

[2019-07-17 19:44] #25 closed, assigned to rtchagas

[2019-07-17 20:11] rtchagas commented on #30
Hi @chhatrasal09

Thanks for this bug report and solution. Well done.

I merged your PR.

[2019-07-17 20:11] #30 closed, assigned to nobody

[2019-07-17 22:59] rtchagas commented on #29
Hi @DuMintong

I added the possibility to pass signatures to the requests.

Please check this commit a5caa7f6bc6fd64aa59e803c78e8c400971a38a8

Ping uses 2 APIs  that might need signatures:
- Maps Static API
- Geocoding API

PING calls both APIs above with the [Maps API key](https://github.com/rtchagas/pingplacepicker#api-keys).
That means that you must encode your signature with the Maps API key p

[2019-07-17 23:06] #10 closed, assigned to rtchagas

[2019-07-17 23:11] rtchagas commented on #10
Hi @NovakHonza

Sorry, I missed your comment :(

Please check this issue for the icon and label colors: #30

Regarding the Geolocation API key, it was moved to the Maps API key.
It must be [like this](https://raw.githubusercontent.com/rtchagas/pingplacepicker/master/images/maps_api_key.png)

[2019-07-18 19:30] Trust-Coder opened #32 "Crash on calling activity, rvNearbyPlaces missing."
`Process: gps_route_finder_nearby_video.navigation.direction, PID: 19561
    java.lang.NoSuchFieldError: No static field rvNearbyPlaces of type I in class Lcom/rtchagas/pingplacepicker/R$id; or its superclasses (declaration of 'com.rtchagas.pingplacepicker.R$id' appears in /data/app/gps_route_finder_nearby_video.navigation.direction-SNqdVdncdDTkgxdQO8CE5Q==/split_lib_slice_0_apk.apk)
        at co

[2019-07-20 10:52] yalematta opened #33 "All Constraint Layouts shift to the right"
Just when I insert your
   ` implementation 'com.github.rtchagas:pingplacepicker:1.1.0'`
in my gradle, all the constraintLayouts that I am using in my app shift to the right.
I haven't used its functionality in my app yet, just inserted the implementation and this happened.

What are you using in your library? Which version of constraintLayout?

[2019-07-20 11:10] yalematta commented on #33
You are using
`implementation 'androidx.constraintlayout:constraintlayout:2.0.0-beta2'`
and this is the one causing all the shifts in layouts
If you use
`implementation 'androidx.constraintlayout:constraintlayout:1.1.3'`
It will work fine. I have tested it.

Will you release a version with this update soon?

[2019-07-20 11:44] yalematta commented on #33
Adding this to my gradle solved it.
[code]

[2019-07-20 15:14] rtchagas commented on #33
Hi!

Your constraint layout is too old.

It's OK to fix the way you did but I strongly suggest you to upgrade to latest one and fix your project.

The sample project is working fine.

[2019-07-20 15:14] #33 closed, assigned to nobody

[2019-07-22 02:33] DuMintong opened #34 "PlacePickerActivity crash when reopen the activity without location permission"
Disable app's location permisson and reopen the PlacePickerActivity from recent app menu , then it carsh.   100% Probability.

2019-07-22 10:25:09.642 24929-24929/cn.oneplus.opmms D/AndroidRuntime: Shutting down VM
2019-07-22 10:25:09.642 24929-24929/cn.oneplus.opmms E/AndroidRuntime: FATAL EXCEPTION: main
    Process: cn.oneplus.opmms, PID: 24929
    kotlin.KotlinNullPointerException
        at c

[2019-07-22 07:55] DuMintong commented on #29
Hi  rtchagas,
    We have realized this feature thought to modify your source code by project dependency of placepickerlibrary.  I add only one signature to MAP_STATIC_API and other API don't need this.
The signature is generated based on the encoded request URL with a specific algorithm, so I think it can be added before HTTP POST/GET with the request URL.  As for your setSignature() API, I don't

[2019-07-22 09:14] DuMintong commented on #34
New logs:

    java.lang.RuntimeException: Failure delivering result ResultInfo{who=@android:requestPermissions:, request=42, result=-1, data=Intent { act=android.content.pm.action.REQUEST_PERMISSIONS (has extras) }} to activity {cn.oneplus.opmms/com.karumi.dexter.DexterActivity}: kotlin.KotlinNullPointerException
        at android.app.ActivityThread.deliverResults(ActivityThread.java:4956)

[2019-07-23 08:17] t104360088 opened #35 "Androidx fragment crash"
Hi @rtchagas
When I use this library in a java project, I got the strange errors
1. My project layout have wrong position in ConstraintLayout
2. I got the crash in androidx fragment

This is crash message:
    java.lang.NullPointerException: Attempt to invoke virtual method 'boolean androidx.fragment.app.FragmentManagerImpl.isDestroyed()' on a null object reference
        at androidx.fragment.app

[2019-07-23 22:52] rtchagas commented on #35
Hi @t104360088

Probably your project's dependencies are conflicting with PING's.
Check this issue #33

But the Fragment issue is really unexpected.... PING does not change any default fragment behaviour. I would suggest you to remove PING and try to update your androidx dependencies. Check if your project still crashes.

[2019-07-23 22:56] rtchagas commented on #29
Hi @DuMintong

Please check this new commit. I've added the automatic signing for Maps Static API.
https://github.com/rtchagas/pingplacepicker/commit/5c16d2df710d12c0f903d5a5f691f2d9e84e4c0d

You can use

[code]

Same as before, download it via latest snapshot.
[code]

[2019-07-24 06:59] t104360088 commented on #35
Thanks for your reply
1. ConstraintLayout library conflict
2. I have the older code in project, and androidx.appcompat:appcompat:1.1.0-rc01 is already removed

This is solution about 2:
https://stackoverflow.com/questions/56618453/after-migrating-to-androidx-application-crashes-with-attempt-to-invoke-androidx

[2019-07-24 06:59] #35 closed, assigned to rtchagas

[2019-07-24 10:49] rtchagas commented on #32
Hi @Trust-Coder

This is something related to your project as PING's main activity does have the rvNearbyPlaces recycler view.
https://github.com/rtchagas/pingplacepicker/blob/5c16d2df710d12c0f903d5a5f691f2d9e84e4c0d/library/src/main/res/layout/activity_place_picker.xml#L191

Did you manage to solve it? Please be sure that you didn't override the layout file for PING activity.

[2019-07-24 11:48] #34 closed, assigned to rtchagas

[2019-07-25 11:59] #32 closed, assigned to rtchagas

[2019-07-27 03:52] ishank1610 opened #36 "can you provide code for generating digital signature for near by places api in java please"

[2019-07-28 21:25] rtchagas commented on #36
Hi @ishank1610

Nearby search doesn't require a digital signature.
https://developers.google.com/places/web-service/get-api-key

The only API that requires it is the Maps Static API and, for this one, PING automatically signs the URL.

[2019-07-28 21:25] #36 closed, assigned to rtchagas

[2019-07-28 21:26] rtchagas commented on #29
I'm closing this issue.

If anything is not working as expected, please reopen it.

Thanks

[2019-07-28 21:26] #29 closed, assigned to rtchagas

[2019-07-30 07:38] DuMintong opened #37 "Crash happens when "Places must be initialized.""
Hi  rtchagas,

   A crash occurs when clicking the search box in the PlacePickerActivity. And the probability 100% that time. Maybe there is something wrong with the network at that time.  I close and open this activity and it becomes normal.

2019-07-30 15:05:18.680 24771-24771/cn.oneplus.opmms D/AndroidRuntime: Shutting down VM
2019-07-30 15:05:18.682 24771-24771/cn.oneplus.opmms E/AndroidRuntim

[2019-07-30 15:27] yalematta commented on #25
Hello,

I have my Android key restricted only for Android Apps, and not for APIs. In the PlacePicker I get the list of nearby Places, and when I select one it works fine. But when I move the picker and I click "Select This location", I get a Toast with "Couldn't find the selected place...". What is exactly the problem here?

[2019-07-31 00:46] rtchagas commented on #25
Hi,

You should also add a Maps Key as described here:
https://github.com/rtchagas/pingplacepicker#api-keys

That key should look like this
<https://raw.githubusercontent.com/rtchagas/pingplacepicker/master/images/maps_api_key.png>.
You must pass it to PING via builder.setMapsApiKey()

On Tue, Jul 30, 2019 at 5:27 PM Layale Matta <notifications@github.com>
wrote:

--
Rafael Teixeira Chagas
chagas@

[2019-08-02 19:56] anoopnimkar opened #38 "Crash when Location Permission is denied"
Steps to repro,
- Open PlacePicker deny the permission. See the alert dialog with OK button
- Tap on search, crashes the app 100% of times
- There's no obvious way to go back on the devices with soft buttons, unless you try to scroll the nearby list until the toolbar is revealed

[code]

[2019-08-03 15:33] #38 closed, assigned to rtchagas

[2019-08-07 09:35] sharukhmohammed opened #39 "The style on this component requires your app theme to be Theme.MaterialComponents"
Hello,

in `onCreateActivity` in at `setContentView`
I encounter this error for TextInputLayout inflation. Its style is already set to                         `style="@style/Widget.MaterialComponents.TextInputLayout.FilledBox"`

But I get a crash when I just include your library. (Not even used in the activity)

[code]

When I remove your library from `build.gradle`  everything works as usual

her

[2019-08-08 09:36] rtchagas commented on #39
Hi @sharukhmohammed

PING doesn't requires your app to inherit from MaterialTheme.
You can check the demo project to see that it uses the AppCompat theme.

You got this issue because, as you said, you're setting the material theme to all TextInputLayouts.

When you added PING, you've bumped your MaterialComponents library to **1.1.0-alpha9** version.
This version is enforcing the app theme to be M

[2019-08-09 21:30] rtchagas commented on #39
I'm closing this issue.
If you still have any doubt, please reopen it.

[2019-08-09 21:30] #39 closed, assigned to rtchagas

[2019-08-20 20:29] EneasVVA opened #41 "It is not possible set an API Key restriction for web using Android"
Because the use of a web key API is mandatory, we have a limitation when we go on this way. The restrictions of the web APIs uses an URL from website and we cannot use the option to restrict it for Android devices, because requests are made via REST and the android signature doesn't work for anything.

[2019-08-20 23:37] #41 closed, assigned to nobody

[2019-09-09 09:39] devpranav2104 commented on #10
**Hi i have same issue **

java.lang.RuntimeException: Manifest merger failed with multiple errors, see logs
	at com.android.build.gradle.internal.tasks.manifest.ManifestHelperKt.mergeManifestsForApplication(ManifestHelper.kt:181)
	at com.android.build.gradle.tasks.ProcessApplicationManifest.doFullTaskAction(ProcessApplicationManifest.java:218)
	at com.android.build.gradle.tasks.ProcessApplication

[2019-09-10 08:10] omaisali commented on #37
Same issue, Any solution please ?

[2019-09-10 09:57] pascaleandrei commented on #37
Same here. If I do not have location on, it crashes when clicking the search box.

[2019-09-27 07:19] Dararii opened #42 "Got a runtime fatal error when clicked search."
![image](https://user-images.githubusercontent.com/7982335/65749938-6a9f9080-e131-11e9-8a91-f8453e2f51e2.png)

Another bug is the map not shown.

![image](https://user-images.githubusercontent.com/7982335/65750002-915dc700-e131-11e9-9129-e272b37dd7de.png)

Seems really wrong with the auth, but I gave set every configuration as the documentation.
This just happen on certain devices, currently only

[2019-10-01 10:50] Moh09 opened #43 "getRating() and getUserRatingsTotal() always return null"
Hello,
No matter the location I choose place.getRating() returns null, even when there are reviews in google maps (getAddress(), getLatLng and getName() work perfectly) .
An idea of why ?
By the way thanks for that place picker !

[2019-10-06 12:50] rtchagas commented on #43
Hi @Moh09

PING doesn't fetch atmosphere data (rating, price, review). This is because they would cost extra US$ 0.005 per request.

PING only fetches these fields.

    /**
     * These fields are not charged by Google.
     * https://developers.google.com/places/android-sdk/usage-and-billing#basic-data
     */
    private fun getPlaceFields(): List<Place.Field> {

        return listOf(

[2019-10-06 12:50] #43 closed, assigned to nobody

[2019-10-06 12:55] rtchagas commented on #42
Hi @Dararii

That error means that your Android key is wrong.

You must add the SHA1 for your apk (both debug and release) to the Android key configuration.

Probably some apk being tested by you is not signed correctly or its SHA1 was not added to the Android Key.

[2019-10-07 10:34] mrariffatulloh opened #44 "cant search location message cant load search result"
![WhatsApp Image 2019-10-07 at 14 08 02](https://user-images.githubusercontent.com/55747759/66305014-a6eca100-e928-11e9-9a13-52bdef4ea70e.jpeg)

can you help me for this problem

[2019-10-10 18:55] recepcamdali opened #47 "please add turkish language"
<resources>
    <string name="app_name" translatable="false">Ping Place Picker</string>

    <string name="picker_title">Select a location</string>
    <string name="picker_select_this">Bu konumu seç</string>
    <string name="picker_or_select_nearby">İsterseniz yakındaki bir yeri seçin</string>
    <string name="picker_load_places_error">"Yakında bir yer bulunamadı..."</string>
    <string name="

[2019-10-13 16:39] boldchains opened #48 "I have got this critical error"
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.app.flexinc, PID: 29546
    java.lang.NoSuchFieldError: No static field rvNearbyPlaces of type I in class Lcom/rtchagas/pingplacepicker/R$id; or its superclasses (declaration of 'com.rtchagas.pingplacepicker.R$id' appears in /data/app/com.app.flexinc-atO6mhm2cIs_NAHrWD0tgA==/split_lib_slice_0_apk.apk)
        at com.rtchagas.pingplacepicker.

[2019-10-13 17:09] #48 closed, assigned to nobody

[2019-10-14 20:45] rtchagas commented on #47
Hi @recepcamdali

Thanks for the contribution! Can you please make a pull request?
It is easier to deploy and you'll be marked as PING contributor :)

Thank you!

[2019-10-14 20:52] #42 closed, assigned to nobody

[2019-10-14 21:47] #37 closed, assigned to nobody

[2019-10-14 21:48] #47 closed, assigned to rtchagas

[2019-10-14 21:51] rtchagas commented on #47
Never mind, as I had to release a new version I added the translation.

[2019-10-23 08:18] Dararii commented on #37
why this case closed? is there any solution available?

[2019-10-23 08:48] rtchagas commented on #37
Yes, it was fixed by this commit https://github.com/rtchagas/pingplacepicker/commit/5d0c971ce3f35c130ef765de1394e5811e4c5174 and released in version 1.1.4

[2019-10-23 10:28] thubalek opened #50 ""Select this location" don't work"
There is a bug in the app. Select this location in the place where is no place on the mapp don't work. I'm working on fix, I'll submit PR soon.

[2019-10-23 14:33] #50 closed, assigned to nobody

[2019-10-31 05:01] MadhuriQuickride commented on #35
check
 @Override
    protected void onDestroy() {
  super.onDestroy();
.....
}

check   super.onDestroy();  should be top on this method.
your all content should be below to   super.onDestroy();

[2019-11-06 12:40] EdozdeDandez opened #52 "Cannot get place name"
I'm using this package for loading a place picker but I can't seem to get the name of the selected place. The getName function returns the coordinates of the place in degrees and direction format  i.e 1° 17' 52" S, 36° 45' 54. How can I get the name of the place?

[2019-11-18 00:13] mrgames13 opened #53 "Forcing user to enable location detection"
Hi,
I have a simple question regarding the search bar. Why is the user only able to search when he enables location detection on his device? Wouldn't it be better to allow searching also when the user has location detection disabled?
Thanks in advance.

[2019-11-23 23:21] rtchagas commented on #53
Hi @mrgames13

This is not a PING requirement but Google Places library's actually.

It simply crashes when we perform a search without location enabled.

BR,

[2019-11-23 23:22] #53 closed, assigned to rtchagas

[2019-11-23 23:23] rtchagas commented on #44
Hi @mrariffatulloh

You Android Key is probably wrong.
Please check https://github.com/rtchagas/pingplacepicker#api-keys to learn how to add the right keys.

BR,

[2019-11-23 23:23] #44 closed, assigned to nobody

[2019-11-25 20:38] rtchagas commented on #52
Hi @EdozdeDandez

This issue happens because your Maps API key is wrong and PING can't load the place details through Geocode API.

Please be sure that GeoCode API is enabled in your key and you correctly added the key to you project.

[2019-11-25 20:38] #52 closed, assigned to nobody

[2019-12-12 02:09] eDR10x commented on #10
Hi GitHub Community, good day. How Enabling nearby searches?
where put this code?:
`<bool name="enable_nearby_search">true</bool>`

in the manifest.xml, activity.kt|java, or where? and this:

`<bool name="show_confirmation_photo">true</bool>`

`<bool name="show_confirmation_map">true</bool>`

`<bool name="auto_center_on_marker_click">false</bool>`

Because when I make click in the buttom, don't sh

[2019-12-12 20:09] rtchagas commented on #10
Hi @eDR10x

`<bool name="enable_nearby_search">true</bool>`

All those booleans are normal resources that you can add to your module res/values folder.

I recommend to create a "config.xml" file and add them there.

Regarding the place name, your Maps API key is wrong. That's why you got only the coordinates.

Please take a look at https://github.com/rtchagas/pingplacepicker/blob/master/README.md#

[2019-12-13 03:58] eDR10x commented on #10
Hi @rtchagas thanks for your time and answer. I tryed it with your steps. But same. It show only coordinates. Here where i put the code `<bool>` and how i edited my API Key. Which could be the problem or the solution?
![config_enable_nearby_search](https://user-images.githubusercontent.com/58796355/70768127-ddcca200-1d31-11ea-9716-d97f1c6f6d9f.png)
![apis_choose](https://user-images.githubusercont

[2019-12-14 22:14] rtchagas commented on #10
Hi @eDR10x

Your Maps API key looks good.

So, probably you have a bad Android API key.
Google's Places API uses the Android API key to fetch places info as well.

Please double check whether your Android API key is secured with your app's SHA1.
The SHA1 should be added for both debug and release versions.

For more info take a look at [here](https://developers.google.com/places/android-sdk/signup

[2019-12-16 16:01] eDR10x commented on #10
Hi @rtchagas good day. I had configured the "Android key" with sha-1 and package name. With the steps of the link. But is the same, show only coordinates. Here screenshot about the config. Or I must to activate the billing option in the console for this work, like that?  Thank for your support. Best regards.
![activate or not_billing](https://user-images.githubusercontent.com/58796355/70921485-5c5

[2020-02-01 08:55] arunavasen opened #56 "Got Crash."
Couldn't find out the step..
io.reactivex.exceptions.UndeliverableException: The exception could not be delivered to the consumer because it has already canceled/disposed the flow or the exception has nowhere to go to begin with. Further reading: https://github.com/ReactiveX/RxJava/wiki/What's-different-in-2.0#error-handling | com.google.android.gms.common.api.ApiException: 15: Unexpected server e

[2020-02-19 05:41] shubh8101996 opened #57 "java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.sample/com.rtchagas.pingplacepicker.ui.PlacePickerActivity}: android.view.InflateException: Binary XML file line #43: Binary XML file line #43: Error inflating class fragment"
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.sample/com.rtchagas.pingplacepicker.ui.PlacePickerActivity}: android.view.InflateException: Binary XML file line #43: Binary XML file line #43: Error inflating class fragment

[2020-02-19 12:30] wdnk opened #58 "java.lang.NoSuchFieldError: No static field rvNearbyPlaces of type I in class Lcom/rtchagas/pingplacepicker/R$id; or its superclasses (declaration of 'com.rtchagas.pingplacepicker.R$id' appears"
[code]

I don't have any idea what the cause of this issue. Any help?

[2020-02-27 05:00] paloe opened #60 "Select this location still error"
Hi, fix this bug please

[2020-03-01 03:55] #56 closed, assigned to rtchagas

[2020-03-01 18:38] rtchagas commented on #57
Hi @shubh8101996
This line is where PING inflates the Google Maps fragment.
Please make sure you have added the maps api to your project.
In case of doubt, please check the sample. It is working as expected.

[2020-03-01 18:38] #57 closed, assigned to nobody

[2020-03-01 18:42] rtchagas commented on #60
Hi @paloe
What kind of error are you facing? Please provide the stack trace.

[2020-03-01 18:44] rtchagas commented on #58
Hi @wdnk
This error is related to your project configuration.
Please make sure you add the kotlin plugins at the top of your project's build.gradle

[code]

[2020-03-04 12:52] mahasadhu opened #62 "Select this location does not return the actual LatLng"
Hi Rafael, thank you for this awesome library.

When users click on select this location button, the library does not return the actual LatLng selected by the users. Instead it only return place object retrieved from the Google Place.

It becomes a problem when the app needs the actual coordinate selected by the users. I will submit a PR

[2020-03-05 00:48] #58 closed, assigned to rtchagas

[2020-03-05 08:03] wdnk commented on #58
i already added:

But the problem still occur.

[2020-03-05 08:18] AhmadullahSaikat opened #64 "After sometime, unfortunately Apps crashed."
2020-03-05 14:14:57.323 22403-22403/com.muslim.quran_bangla E/CustomActivityOnCrash: The previous app process crashed. This is the stack trace of the crash:
    android.database.sqlite.SQLiteReadOnlyDatabaseException: attempt to write a readonly database (code 1032 SQLITE_READONLY_DBMOVED[1032])
        at android.database.sqlite.SQLiteConnection.nativeExecute(Native Method)
        at android.dat

[2020-03-05 08:28] #62 closed, assigned to rtchagas

[2020-03-05 08:40] rtchagas commented on #64
Hi @AhmadullahSaikat

PING doesn't use any SQLITE database by itself.

This probably is a problem with some running Google Service.

[2020-03-05 08:51] rtchagas commented on #60
Please reopen this if you still face problems with the latest version.

[2020-03-05 08:51] #60 closed, assigned to rtchagas

[2020-03-05 08:52] rtchagas commented on #58
Did you try to run the sample app?

[2020-03-05 08:53] rtchagas commented on #62
I've release the version 2.0.3 with the fix :)

[2020-03-06 08:51] paloe commented on #60
halo, sorry for so long reply,
error : if i click "Select this location" can't get lat and long so thumbail/image map can't showing.

sorry for my bad english

[2020-03-08 06:21] GjoAbrahamN opened #65 "getting error and app crashed"
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.apple.edrops, PID: 7190
    java.lang.NullPointerException: CameraUpdateFactory is not initialized
        at com.google.android.gms.common.internal.Preconditions.checkNotNull(Unknown Source:11)
        at com.google.android.gms.maps.CameraUpdateFactory.zzc(Unknown Source:2)
        at com.google.android.gms.maps.CameraUpdateFactory.

[2020-03-08 09:36] GjoAbrahamN commented on #10
when try to use my Geolocation key i got the error "You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started" like this. what to do? do i need to enable this one?

[2020-03-10 16:12] tangent-q opened #66 "Couldn't find the selected place"
**Issue 1: I could not get the map using only 3 APIs as mentioned here:** https://raw.githubusercontent.com/rtchagas/pingplacepicker/master/images/maps_api_key.png

**Was getting the following error:**
2020-03-10 20:01:59.766 30912-31192/<package> E/Google Maps Android API: Authorization failure. Please see https://developers.google.com/maps/documentation/android-api/start for how to correctly set

[2020-03-21 04:42] MosesWangira commented on #25
why does it load well sometimes and sometimes does not load nearby places at all
The map is not displayed either for me

[2020-03-23 13:29] percula opened #67 "bindPlaces NullPointerException"
Hi, I'm receiving this crash report. The app was working fine for months, now it crashes whenever PingPlacePicker is opened. `place.latLng` is null and the null isn't caught. I didn't change anything and everything still looks fine in the Google API console.

Also thank you very much for this library :-)

[code]

[2020-03-24 11:18] hamzaamir749 opened #69 "Map_Key"
How To Find Map_Key

[2020-03-24 14:22] #69 closed, assigned to nobody

[2020-03-26 18:24] percula commented on #67
Just want to followup, I have been running my fork in production for a few days now. The crashes are gone and the place picker still works 100%. I'm guessing Google started sending places with null latLngs for some reason.

[2020-03-30 02:37] #64 closed, assigned to rtchagas

[2020-03-30 02:41] #67 closed, assigned to rtchagas

[2020-03-30 02:45] rtchagas commented on #67
Thank you so much for the PR!
Yes, probably Google is messing up with those latLngs...

[2020-03-30 02:53] rtchagas commented on #66
Hi @tangentq-admin

Regarding your issue number 1, you don't need to set "Maps SDK for Android" in your Maps Key.
That SDK is accessed via the Android Key.

So make sure your Android Key is configured and you have set the correct SHA1 for your app.

This is also related to your issue number 2. If you're not using the /nearbysearch mode, PING will fetch the places from Android Places SDK and this o

[2020-04-01 08:41] tangent-q commented on #66
Hi @rtchagas It was a config issue from my side related to the billing. I was using 2 different GCloud projects due to some strange restrictions.

However, the lib wasn't logging/showing me any such error/warning which was thrown by google libs. I had to debug inside the `pingplacepicker` to troubleshoot and get the actual error thrown.

So I would suggest to log the error thrown by google lib in

[2020-04-01 18:20] nourashouli commented on #10
nearby places is not loaded and API is true
how add this config to android kotlin project : <bool name="enable_nearby_search">true</bool>

[2020-04-01 19:27] nourashouli commented on #10
nearby places is not loaded and API is true
how add this config to android kotlin project :
 "<boolean name=enable_nearby_search>true</boolean>"

[2020-04-29 05:38] kasim1011 opened #70 "prefix all colors value with ping_"
The current implementation of `color` naming causing clash between app and other 3rd party library.

Please prefix all color values with let's say `ping_`. so that we can have complete control over theme.

[2020-05-02 21:49] yash1ts opened #71 "App Crashing with error"
I created a new API key which has no restrictions but still getting this error.
I used the same key for maps_api_key and android_api_key . Are they different?

Crash log:

`--------- beginning of crash
2020-05-03 03:11:46.660 7178-7178/com.app.screencontroladmin E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.app.screencontroladmin, PID: 7178
    java.lang.BootstrapMethodError: Exception

[2020-05-05 14:47] lemberh opened #72 "Update Koin to latest version"
Please update koin dependency to latest version, because if I use in my project current version `2.1.5` the **pingplacepicker** crashes with this error
[code]

[2020-05-11 23:10] #72 closed, assigned to nobody

[2020-05-15 05:23] ghiyatshanif opened #73 "Search result unavailable"
First of all, This is an awesome replacement of the original PlacePicker library, however I found some trouble using your library. most of the times the search location feature are not showing any result when i insert a long query. but sometimes it show some result when i only insert one or two letters on the search bar. this is what I meant:

Cant load search result:
![Cant load search result:](h

[2020-05-20 09:28] rtchagas commented on #73
Hello @ghiyatshanif

The only thing that I could notice is that you're restricting your Android API more than you should.

You should restrict it only by Android applications and set the SHA1s that you might need.

You should not restrict it by APIs.

[2020-06-02 12:50] hfarhanahmed opened #74 "Specific Country Search"
Hello,

There is no option to specify a country for the search bar, for example if we want to the user to only search location in USA or Australia we can't do that.

[2020-06-06 09:13] eDR10x opened #75 "Should update the steps 2020. Because the steps don't work."
Hello @rtchagas I follow the steps in kotlin. But don´t work.
I have config the API for Android with package name app and SHA-1 debug.
Also so i have Apis key for maps, for only the 3 apis: Static, Geocoding, Places.

So in your manifest sample you don´t have permision list like:
    "uses-permission android:name="android.permission.INTERNET"
    "uses-permission android:name="android.permission.A

[2020-06-07 12:43] rtchagas commented on #75
Hello @eDR10x

I should disagree with you. The steps are working fine.
I actually run the sample project before each release.

We don't need to manually add the permissions to the sample manifest. The permissions are added automatically by the dependencies that PING currently depends on.

If you check the merged manifest file at
_sample/build/intermediates/merged_manifests/debug/AndroidManifest.xm

[2020-06-07 12:46] #73 closed, assigned to rtchagas

[2020-06-07 12:46] #66 closed, assigned to rtchagas

[2020-06-08 04:37] eDR10x commented on #75
Ok thanks @rtchagas for explain it. But now I continue trying for days and now get numbers like: 3° 45' 54" S, 73° 15' 20" E. and NO GET the Address Name when select the location.
But jut one time appeared the nearby places and so i select any Nearby place like location , show the name address of nearby place. Just appeared nearby place, one time.

My API ANDROID is good, restricted with my app (p

[2020-06-10 13:25] SteveKamau72 commented on #66
@tangentq-admin could you direct me to the specific file number to log this out as well? I am stuck with the same issue.

[2020-06-23 17:15] ghiyatshanif commented on #73
i've already adjusted the credentials settings as per your suggestion but it doesn't affect anything, **this is a dumb question** but, do we need to set up the billing first? I dont really understand their pricing mechanism these days. @rtchagas

[2020-06-23 21:08] rtchagas commented on #73
Hello!

Yes, according to Google, you do need to setup billing first.

The model is pay as you go. You can check the prices at the README of the
library.

Stay safe,

On Tue, Jun 23, 2020, 19:15 Ghiyats Hanif <notifications@github.com> wrote:

[2020-06-26 05:12] tangent-q commented on #66
@SteveKamau72 ,
https://github.com/rtchagas/pingplacepicker/blob/master/library/src/main/java/com/rtchagas/pingplacepicker/ui/PlacePickerActivity.kt#L418

I had put a breakpoint at this error handler `Resource.Status.ERROR` and I could see the real error.

[2020-07-30 03:26] waterflower124 opened #76 "how to add nearbysearch in my project"
hello @rtchagas
Thanks for your library.
I used your library but have some issues.

How to enable nearby search?
How to add `<bool name="enable_nearby_search">true</bool>` to my project? where can I use this value?
Hope your advance.

[2020-08-06 09:24] DuMintong opened #77 "How to avoid producting so much Places Details request when search in the AutocompleteActivity"
Hi rtchagas,

              As we know, the google maps billing will produce when use the pingplacepicker.
      And we find that getNearbyplace()   triggers  many times fetchPlace API call when user open map ,
     that produces much billing for Places Details request.

      Places Details SKU billing link:
             https://developers.google.com/places/android-sdk/usage-and-billing#places-de

[2020-08-07 12:05] DuMintong commented on #77
Because I  use the old pingplcepicker version last year. And I find this issue has resolved in the latest version.
So close.

[2020-08-07 12:05] #77 closed, assigned to nobody

[2020-08-10 06:23] ZYuGH opened #78 "Language for address"
Hi, @rtchagas
When I update the library version from 2.0.6 to 2.1.10+, I can't get the Chinese Address.
As shown in the figure, I search the nearby place in the same position.

The version of 2.0.6
![image](https://user-images.githubusercontent.com/38727101/89755395-e7e9af00-db11-11ea-800a-cf212d5a6045.png)

The version of 2.1.10+
![image](https://user-images.githubusercontent.com/38727101/8975540

[2020-08-27 15:17] aymenhs opened #79 "adding more fields"
thank you for this great api
currently there're only few fields supported :
  Place.Field.ID,
            Place.Field.NAME,
            Place.Field.ADDRESS,
            Place.Field.LAT_LNG,
            Place.Field.TYPES,
            Place.Field.PHOTO_METADATAS
But google says it's still free to get other ones (https://developers.google.com/places/android-sdk/usage-and-billing):
ADDRESS, BUSINESS_S

[2020-10-15 15:31] jaseelmohd opened #82 "Select Location text not visible"
Thanks for the great library!,

Please check the below screenshot, the Select location text is not visible on both dark and light theme
![Screenshot_20201015-205806](https://user-images.githubusercontent.com/23740454/96151835-7e2ebc80-0f29-11eb-8ab0-2edb883f005a.jpg)

[2020-11-18 04:36] melema123 opened #83 "search does not work"
I am getting this error when doing search

E/SpannableStringBuilder: SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have a zero length
    SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have a zero length
E/SpannableStringBuilder: SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have a zero length
    SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have a zero length

A quick google search took to this[ stackoverflow post](https://stac

[2020-12-08 14:44] hemabhagnani commented on #10
@rtchagas  I have followed almost every step, still, my map is not able to load nearby places, and also when I search for a location nothing is happening.
Please help !!!

[2020-12-30 17:55] yusuf-murodov opened #84 "pingplacepicker is crushing"
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: me.modernpage.googlemapsgoogleplaces, PID: 13163
    java.lang.NoClassDefFoundError: Failed resolution of: Lkotlin/jvm/internal/Intrinsics;
        at com.rtchagas.pingplacepicker.PingPlacePicker$IntentBuilder.setAndroidApiKey(Unknown Source:2)
        at me.modernpage.googlemapsgoogleplaces.MapActivity$6.onClick(MapActivity.java:218)
        at

[2021-01-02 22:42] rtchagas commented on #84
Hello!
This is related to Kotlin version. If your app is targeting 1.4 or later it gonna crash.
This was fixed in the release 2.2.0.

[2021-01-02 22:42] #84 closed, assigned to rtchagas

[2021-01-14 04:31] tangent-q commented on #82
@rtchagas facing same issue.

It doesn't seem like a theme or colouring conflict issue. Upon doing the layout inspection, seems like TextView (android:id="@+id/tvLocationSelect") has gone to the top of it's parent and has no width/height.

https://github.com/rtchagas/pingplacepicker/blob/master/library/src/main/res/layout/activity_place_picker.xml#L96

What do you think ?

[2021-01-14 04:39] tangent-q commented on #82
@rtchagas
Sorry, was using an older version. Updated to the latest 2.2.0 and issue resolved. But it's strange that Gradle wasn't highlighting me that there is an update available. May be while releasing some attributes needs to be set.

@jazeelmohd are you on the latest version ? may be updating will solve your issue.

[2021-01-14 05:08] jaseelmohd commented on #82
Just updated now, and it is visible properly

[2021-01-14 05:08] #82 closed, assigned to nobody

[2021-05-26 12:10] hsravat-4590 opened #85 "Getting Error when opening place picker"
I've been recieving the following error when opening the place picker on Android 11:
[code]
It only appears sometimes other times picker works as expected

[2021-06-11 05:59] NehaEm opened #86 "Search not working"
Hi,

I am unable to search the places. I have correctly configured the Android & Map API keys. Whenever I type something in the search box, the search dialog disappears.

Please help me out since I am facing issue in the live app.

Thanks.

[2021-06-16 14:20] alizestbrains commented on #86
In Application class use this below code:

`Places.initialize(applicationContext, "your api key")`

In Activity class:

[code]

[2021-06-29 20:51] jeanmarie15 opened #87 "adding polygon to map"
How can I add a polygon to the map?

[2021-07-25 21:11] odbol commented on #86
For me, I had to add the Places API to my *Android* app key, not just the Maps API key like it says in the docs.

[2021-08-10 21:05] Ratul-Bin-Tazul opened #88 "Crashes with newer version of Kotlin"
Was working perfectly. But crashing as we updated the Kotlin version.

    Process: com.hishabee.business, PID: 20511
    java.lang.NoSuchMethodError: No virtual method elapsedNow-UwyO8pc()D in class Lkotlin/time/TimeMark; or its super classes (declaration of 'kotlin.time.TimeMark' appears in /data/app/com.hishabee.business-Un2E2XPWpyVrksxQcCiILg==/base.apk!classes4.dex)
        at org.koin.core.t

[2021-08-14 16:34] #88 closed, assigned to rtchagas

[2021-08-14 21:33] aymenhs commented on #79
hello ,
had you been able please to add it to the new version? thank you for the great work

[2021-09-15 17:11] hongyu00 commented on #85
Same here, cant find a solution for this problem.

[2021-09-24 15:02] aarif04march opened #89 "Koin Issue"
java.lang.NoSuchMethodError: No virtual method elapsedNow-UwyO8pc()D in class Lkotlin/time/TimeMark; or its super classes.

at org.koin.core.time.MeasureKt.measureDuration(Measure.kt:63)
        at org.koin.core.KoinApplication.modules(KoinApplication.kt:63)
        at com.rtchagas.pingplacepicker.inject.PingKoinContext$koin$2$1.invoke(PingKoinComponent.kt:19)
        at com.rtchagas.pingplacepick

[2021-10-13 15:35] dhouha123 opened #90 "Type mismatch: inferred type is PlacePickerViewModel but ViewModel was expected"
I have a problem with viewModel when I import the solution like a module in my project .
Can you help me plz :
![Capture d’écran 2021-10-13 à 17 34 13](https://user-images.githubusercontent.com/10114329/137166217-8155ed55-0bf4-4a2b-9856-1677a8ab2cee.png)

[2021-11-11 12:35] fabiodsnmatos opened #91 "Error Android 11 (sdk 30)"
When I try to update my app to android 30, the pingplacepicker gives an error opening on devices with android 11.
Will there be any update to make the component compatible with the target 30?
urgente, please. @rtchagas

[2021-11-15 18:26] rtchagas commented on #91
Hello @fabiodsnmatos
The current PING version already targets SDK 30 and was tested on many Android 11 devices. Actually my current device is running Android 11.

Please describe better the issue you are facing. Also, please add the stack trace of the error.

[2021-12-22 11:43] Ratul-Bin-Tazul opened #92 "NoSuchMethodError"
**Getting crash report on many devices after upgrading play services.**

Fatal Exception: java.lang.NoSuchMethodError: No static method toDouble-impl(JLjava/util/concurrent/TimeUnit;)D in class Lkotlin/time/Duration; or its super classes (declaration of 'kotlin.time.Duration' appears in /data/app/~~d-UX4BGerrRpTNySBXrPhg==/com.hishabee.business-JOc5lJc09mapxjTUysFhsA==/base.apk!classes3.dex)

[2022-01-07 22:04] #92 closed, assigned to nobody

[2022-01-07 22:06] #89 closed, assigned to nobody

[2022-01-21 15:49] Sagar0-0 opened #93 "Can not resolve symbol "PingPlacePicker""
Anyone please tell me what am I doing wrong?

<img width="960" alt="Screenshot 2022-01-21 211634" src="https://user-images.githubusercontent.com/85388413/150556943-eb8d89ac-fde0-42fc-94ab-cd4363616861.png">

[2022-02-26 12:35] RachitSuneja commented on #85
Have u got the solution. If yes then please mention. Its important
Thanks!!

[2022-03-10 12:57] calufax commented on #85
same problem here, happens trying to open a googleMap on a framelayout inside a fragment

[2022-07-14 13:12] gaellalire opened #94 "Call finishAfterTransition instead of finish"
To handle back transition.

[2022-09-22 00:09] fprotze opened #95 "StartActivityforResult deprecated?"
Does this affect PING that **startactivityforresult** is deprecated and should be handled as a Task?

[2022-10-24 09:48] thubalek opened #96 "FusedLocationProviderClient is interace since com.google.android.gms:play-services-location:21.0.0"
`FusedLocationProviderClient` is interface since October 13, 2022 release. See https://developers.google.com/android/guides/releases#october_13_2022

It causes that application crashes `with IncompatibleClassChangeError`

[code]

[2022-11-01 10:15] cempo commented on #96
The same issue

[2022-11-25 10:41] hsravat-4590 opened #97 "Anko Deprecated"
Hi,

I've been trying to setup my environment for an app which uses this library as a dependency. Unfortunately, I'm unable to build the project as this library depends on Anko which has now been [deprecated](https://github.com/Kotlin/anko/blob/master/GOODBYE.md)